<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <title>Escape Book</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="../css/escape_book.css">
</head>

<body class="prolog_wrapper">
  <div class="wrap">
    <div class="prolog_text">프롤로그</div>
    <div class="prolog_text">“후… 복권이나 당첨 안 되려나”</div>
    <div class="prolog_text">부질없는 소릴 하며 야근이 끝난 후<br>피곤한 몸을 이끌고 집에 도착하였다.</div>
    <div class="prolog_text">곧바로 샤워를 하고 침대로 향했는데<br>침대 위엔 의문의 편지 한 통이 놓여 있었다.</div>
    <div class="prolog_text">“음…? 도둑이라도 들었나?”</div>
    <div class="prolog_text">그렇게 생각한 찰나의 순간<br>알 수 없는 매력에 끌려 편지를 손에 들었다.</div>
    <a href="./escape_book.html" class="link">
      <img src="../img/images/intro_bg.jpg" alt="">
      <div class="link_text_area">
        <div class="link_text">사람들은 누구나 한 번쯤<br>과거를 바꾸고 싶어합니다.</div>
        <div class="link_text">만약 과거를 바꿀 수 있다면<br>당신은 어떻게 하시겠습니까?</div>
      </div>
    </a>
  </div>

  <script src="../js/jquery-1.12.4.min.js"></script>
  <!-- [D] 마크업 확인용 스크립트 -->
  <script>
    // 헤더 영역 스크롤에 따라 제어(마크업 확인)
    // http://webdir.tistory.com/481
    var didScroll;
    var lastScrollTop = 0;
    var delta = 10;
    var navbarHeight = $('header').outerHeight();

    $(window).scroll(function (e) {
      didScroll = true;
    })

    setInterval(function (e) {
      if (didScroll) {
        hasScrolled();
        didScroll = false;
      }
    }, 250)

    function hasScrolled() {
      var st = $(this).scrollTop();

      if (Math.abs(lastScrollTop - st) <= delta)
        return;

      if (st > lastScrollTop && st > navbarHeight) {
        $('header').removeClass().addClass('down');
      } else {
        if (st + $(window).height() < $(document).height()) {
          $('header').removeClass().addClass('up');
        }
      }

      lastScrollTop = st;
    }

    $(document).ready(function () {
      // test
      $test = $('.test');
      $test.on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $(this).attr('aria-expanded', 'true');
      });
    })
  </script>
</body>

</html>
